/* COLOR */

// primary colors
$color-primary-light: #fff;
$color-primary-dark: #333;

// secondary colors
$color-secondary-dark: #737373;
$color-secondary-light: #eeeeee;
/* FONT */

/* If you wan to add anything feel free to */
