<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You just got an estimate request from <%= @customer.email_address %></h1>
    
    <p><%= @customer.first_name %> has just requested for the an estimate!</p>
  </body>
</html>