.main_card {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column; /* Change flex direction to column */
    align-items: center; /* Center align the card on the page */
    margin: 20px;
  }
  
  .two-columns,
  .two-columns-reverse {
    display: flex;
    flex-direction: row;
    width:70%;
    align-items: baseline;
    align-content: center;
    justify-content:center;
  }
  
  .card_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    margin: 10px;
    width:30%;
    
  }
  
  .card_title {
    margin-bottom: 10px;
  }

  .service-title{
    text-align: left;
    
  }
  
  .card_desc {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
  }
  
  .card_imgs {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center align images within the columns */
  }
  
  .card_imgs-item {
    cursor: pointer;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .card_imgs-item img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .card_imgs-item:hover img {
    transform: scale(3.1);
  }
  
  .card_imgs-item--caption {
    font-size: 18px; /* Increased text size */
    font-weight: bold;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 200%;
    height: 100%;
    background-color: rgba(48, 60, 60, 0.8); /* Transparent background */
    max-width: 80%;
  }
  
  .modal_img {
    width: 60%;
    height: 80%;
    max-width: 800%;
    margin-bottom: 20%;
  }
  
  .modal_close_btn {
    align-self: flex-end;
    padding: 7px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
  }
  
  .modal_nav_btn {
    margin-top: 10px;
    padding: 7px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
  }

.modal_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .modal_next_btn {
    align-self: flex-end;
    padding: 7px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
    margin-top: 10px;
  }
  

.modal_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .modal_nav {
    display: flex;
    align-items: center;
  }
  
  .modal_prev_btn,
  .modal_next_btn {
    padding: 7px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .modal_prev_btn {
    margin-right: 20px;
  }
  
  .modal_next_btn {
    margin-left: 20px;
  }
   