@use "../../styles/partials/index" as *;
@use "../../styles/partials/breakpoints" as breakpoints;

.serviceMain {
	&_top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: url("../../assets/home_service.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 400px;
		color: $color-primary-light;
		text-align: center;
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);

		&-header {
			@include mobile-text-page-header;
			font-size: 3rem;
			line-height: 40px;
			padding: 0 1rem;
			margin: 2rem 0;
		}

		&-subtitle {
			@include mobile-text-section-header;
			font-weight: 300;
			margin: 0 1rem;
			padding: 0 2rem;
			line-height: 3rem;
		}

		&-button-box {
			margin-top: 4rem;
			color: $color-primary-light;
		}

		&-button {
			@include mobile-text-buttons;
			@include button;
		}
	}

	&_bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem;
		text-align: center;
		// height: 350px;

		&-title {
			@include mobile-text-section-header;
			margin: 2rem;
			padding-top: 2rem;
		}

		&-desc {
			@include mobile-text-body-footer;
			line-height: 2.5rem;
			padding: 2.5rem;
		}

		&-box {
			@include breakpoints.medium {
				width: 100%;
			}
		}

		&-card-box {
			@include breakpoints.medium {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				width: 100%;
			}
		}

		&-button-box {
			display: block;
			margin: 4rem;
		}

		&-button {
			@include mobile-text-buttons;
			font-weight: 500;
			@include button;
			color: $color-primary-light;
		}
	}
}
