@use "../../styles/partials/index" as *;
@use "../../styles/partials/breakpoints" as breakpoints;

.card {
	height: 320px;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
	border-radius: 8px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

	@include breakpoints.large {
		height: 400px;
		padding: 1rem;
	}
	&_title {
		@include mobile-text-section-header;
		margin: 1rem 0 0.5rem 0;
		font-size: 1.7rem;

		@include breakpoints.large {
			font-size: 2rem;
		}
	}

	&_subtitle {
		@include mobile-text-buttons;
	}

	&_desc {
		@include mobile-text-body-footer;
		margin: 1.5rem 1rem;
		text-align: center;
	}

	&_imgs {
		display: flex;
		flex-direction: row;
		margin-top: 2rem;

		&-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@include mobile-text-body-footer;

			&--caption {
				padding: 1rem;
			}

			&--img {
				margin: 1rem;
				height: 14rem;
				width: 12rem;
				@include breakpoints.large {
					margin: 1rem;
					height: 17rem;
					width: 15rem;
				}
			}
		}
	}
}
